    <mat-card class="bg-dark text-light" style="min-height: 30rem;">
      <mat-card-header>
        <mat-card-title class="mb-2">{{cardData().title}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="cardData().imageUrl" [alt]="cardData().title">
      <mat-card-content class="my-3">
        <p>{{cardData().description}}</p>
      </mat-card-content>
      <mat-card-actions class="mt-auto pb-3">
        @if (cardData().urlType === 'external') {
          <button matButton="outlined">
            <a class="text-white text-decoration-none" [href]="cardData().url" target="_blank">
            Visitar página <i class=" fa-solid fa-up-right-from-square"></i>
            </a>
          </button>
        } @else {
          <button matButton="outlined" [routerLink]="cardData().url" class="text-white">Visitar página<i class=" fa-solid fa-up-right-from-square"></i></button>
        }
      </mat-card-actions>
    </mat-card>
